/* USING SCSS (NOT SASS) */

/* FONTS */



/* SCSS DIRECTORY
	0. =FONTS
	1. =FORMAT RESET
	2. =MAIN
		-1. = HEADER
		-2. = CONTENT
	3. =FOOTER
*/


/* ===============  FONTS ===============  */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fredoka+One&family=Pacifico&family=Permanent+Marker&display=swap');

/* Font Rules: 
	font-family: 'Courgette', cursive;
	font-family: 'Fredoka One', cursive;
	font-family: 'Permanent Marker', cursive;
	font-family: 'Pacifico', cursive;
*/


/* =============== FORMAT RESET =============== */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* reset for older browsers  */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	/* background color to not burn my eyes in the live server ヽ(*・ω・)ﾉ */
	background-image: url("../images/background.jpg");
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ========== MAIN ========== */

/* HEADER */
#header{
	background-color: rgb(0, 0, 0, 0.5);
	box-shadow: 4px 4px 5px rgb(0, 0, 0, 0.5);
	margin: 0 auto;

	h1{
		font-size: 4em;
		padding-top: 20px;
		font-family: 'Fredoka One', cursive;
		color: rgb(248, 208, 28);
		-webkit-text-stroke: 1px rgb(0, 0, 0);
		text-shadow: 2px 2px 2px rgb(0, 0, 0);
		text-align: center;
	}

	button {
		--border: 3px;    /* the border width */
		--slant: 0.7em;   /* control the slanted corners */
		--color: rgb(248, 208, 28); /* the color */
		margin-top: 1em;
		margin-left: 0.5em;
		margin-right: 0.5em;
		margin-bottom: 0.5em;
		font-family: 'Permanent Marker', cursive;

		font-size: 1.5em;
		padding: 0.4em 1.2em;
		border: none;
		cursor: pointer;
		font-weight: bold;
		color: var(--color);
		background: 
		   linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
		   linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
		background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
		background-repeat: no-repeat;
		box-shadow:
		  0 0 0 200px inset var(--s,#0000),
		  0 0 0 var(--border) inset var(--color);
		clip-path: 
			polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
					100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
				   );
		transition: color var(--t,0.3s), background-size 0.3s;
		background-color: rgb(0, 0, 0);
	  }
	  button:focus-visible {
		outline-offset: calc(-1*var(--border));
		outline: var(--border) solid rgba(0, 0, 0, 0.8);
		clip-path: none;
		background-size: 0 0;
	  }
	  button:hover,
	  button:active{
		background-size: 100% 100%;
		color: rgb(255, 60, 0);
		--t: 0.2s 0.1s;
	  }

	  button:active {
		--s: rgb(248, 208, 28);
		color: rgb(255, 60, 0);
		-webkit-text-stroke: 1px black;
		transition: ease-in-out, 500ms;
	  }

	  .activeButton{
		background-color: rgb(248, 208, 28);
		color: rgb(255, 60, 0);
	  }
}

.navBar{
	display:flex;
	justify-content: center;
}

/* CONTENT */

#content{
	margin: 0 auto; /*for center*/
	margin-top: 2em;
	background-color: rgb(0, 0, 0, 0.5);
	width: 70%;
	height: fit-content;
	box-shadow: 4px 4px 5px rgb(0, 0, 0, 0.5);
	border-radius: 1em;
	padding-top: 1em;
	transition: all, 600ms;
	margin-bottom: 2em;
	padding-bottom: 2em;

	.transition{
		opacity: 0;
	}
}

/* ========== TOP TEXT and IMAGES for HOME ========== */

.topContainer{
	display: flex;
	margin: 0 auto;
	width: 80%;
	justify-content: center;
	align-items: center;
	background-image: url("../images/card-background.jpg");
	border-radius: 13px;

	.headerIcon {
		max-height: 64px;
		min-height: 32px;
		max-width: 64px;
		min-width: auto;
		size: 2em;
		object-fit: contain;
		
	}
	#leftIcon{
		transform: translate(0%, 20%);
	}
	#rightIcon{
		transform:  translate(0,-20%);
	}

	.textContainer{
		
		h2{
			font-family: 'Fredoka One', cursive;
			font-size: 2em;
			color: rgb(255, 255, 255);
			text-shadow: 2px 2px 1px rgb(0, 0, 0);
			margin-left: 1em;
			margin-right: 1em;
			-webkit-text-stroke: 1px rgb(0, 0, 0); /* add stroke to the text */
			text-align: center;
		}
	}
	
}

	/* */

/* ========== TEXT and IMAGES for MENU ========== */
.cardsContainer{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-left: 1em;
	margin-right: 1em;
	justify-content: center;
	

	.card{
		background-color: rgb(204, 134, 43);
		background-image: url("../images/card-background.jpg");
		width: 15em;
		height: 27em;
		margin: 0 auto;
		margin-top: 2em;
		padding: 1em;
		border-radius: 1em;

		h1 {
			font-family: 'Courgette', cursive;
			font-weight: bold;
			font-size: 2.5em;
			text-align: center;
			color: white;
			text-shadow: 3px 3px 3px rgb(0, 0, 0);
			-webkit-text-stroke: 1px rgba(0, 0, 0, 0.7);
		}

		h2 {
			font-family: 'Permanent Marker', cursive;
			color: rgb(255, 255, 255);
			text-shadow: 2px 2px 0px rgb(0, 0, 0);
			font-size: 1em;
			
		}

		h3{
			font-size: 3em;
			color: rgb(0, 224, 0);
			text-shadow: 2px 2px 2px rgb(0, 0, 0);
			-webkit-text-stroke: 1px rgba(0, 0, 0, 0.7);
			width: fit-content;
			border-radius: 3em;
			margin: 0 auto;
			margin-top: 10px;
			padding: 0.5em;
			padding-top: 0.2em;
			
			font-family: 'Pacifico', cursive;
		}

		.cardImage {
			filter: drop-shadow(5px 5px 5px black);
			max-width:100%;
			max-height:100%;
		}

}
}
